<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-4">
  <h1 class="text-3xl mb-4 text-rose-900">
    Soft Life Chile Spa
  </h1>
  <div>
    <p>
      <a href="/login" class="text-teal-700 font-bold underline">Login</a>
    </p>

    <p>
      <a href="/usuario" class="text-teal-700 font-bold underline">Register</a>
    </p>
  </div>
<div>

//aqui van los usuarios//


</div>
</body>
</html>