<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <form action="/login" method="post" class="bg-rose-900 max-w-lg m-4 p-5">

    <h1 class="text-3xl mb-4 text-white">
      Iniciar sesión
    </h1>

    <div class="flex my-4">
      <div class="w-48">
        <label for="email" class="text-white">Email address</label>
      </div>
      <div>
        <input type="email" id="email" name="email">
      </div>
    </div>

    <div class="flex my-4">
      <div class="w-48">
        <label for="password" class="w-48 text-white">Password</label>
      </div>
      <div>
       <input type="password" id="password" name="password">
      </div>

    </div>

    <input 
      type="submit"
      value="Ingresar"
      class="text-white bg-teal-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
  </form>

</body>
</html>